<div class="banner">
<h1>Stupid Coaching</h1>
</div>
  <div class="body">
  <div class = "card">
    <h3><%= @question %></h3>
    <p>--You</p>
  </div>
  <div class = "card" id="answer">
    <h3><%= @answer %></h3>
    <p>--Your coach</p>
  </div>
  <div class = "link" >
    <strong><%= link_to "Ask another Question", ask_path %></strong>
  </div>
</div>